
.card {
    flex-wrap: wrap;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(45deg, #3B0D10 0%, #BBBBBB 100%);
    align-items: center;
    min-width: 40%;
    padding: 1em; 
    width: 400px;
    height: 500px;
    color: white;
}

h2 {
    color: grey;
}

/* styling and walkthrough for basis of page from Dev Ed on Youtube
https://www.youtube.com/watch?v=U9T6YkEDkMo*/


.titleDrink {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 35px;
}

.instruc {
    color: white;
    font-size: 14px;
    text-align: center;
}


.randomImage {
    border-radius: 20%;
    width: 150px;
    height: 150px;
    align-content: center;
} 

/*
.searchBar {
    width: 100%;
} */