.SearchBar {
    display: flex;
}

@media only screen and(max-width: 400px) {
    .SearchBar {
        display: flex;
        flex-direction:column;
        align-Content: left; 
        padding: auto;
        margin: auto;

    }

    .card {
        width: 250px;
    }
}

