html {
    scroll-behavior: smooth;
}

body {
    align-items: center;
    font-family: 'Oswald', sans-serif
}
.App {
    min-height: 100vh;
    background-color: white;
    align-items: center;
  }

 /* div {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 

  .heading {
    font-weight: 700;
  } */
