html {
    scroll-behavior: smooth;
}

body {
    align-items: center;
    font-family: 'Oswald', sans-serif
}

.App {
    min-height: 100vh;
    background-color: white;
    align-content: center;
  }

  .heading {
    font-weight: 700;
  }
  .subheading {
    font-weight: 300;
  }
